.equipment-inventory {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-gap: var(--spacing-xs);
  flex-shrink: 0;
  justify-content: center;
  min-width: 204px;
}

.equipment-inventory__slot {
  width: 48px;
  height: 48px;
}

.equipment-inventory__slot#weapon,
.equipment-inventory__slot#hands {
  transform: translateX(calc(-50% + var(--spacing-xs)));
}

.equipment-inventory__slot#shield,
.equipment-inventory__slot#ring {
  transform: translateX(calc(50% - var(--spacing-xs)));
}
