.equipment-inventory {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-gap: var(--spacing-xs);
  justify-content: center;
}

.equipment-inventory__slot#weapon,
.equipment-inventory__slot#hands {
  transform: translateX(calc(-50% + var(--spacing-xs)));
}

.equipment-inventory__slot#shield,
.equipment-inventory__slot#ring {
  transform: translateX(calc(50% - var(--spacing-xs)));
}

/* .equipment-inventory__slot#head {
  background-image: url("https://oldschool.runescape.wiki/images/Head_slot.png");
}

.equipment-inventory__slot#cape {
  background-image: url("https://oldschool.runescape.wiki/images/Cape_slot.png");
}

.equipment-inventory__slot#neck {
  background-image: url("https://oldschool.runescape.wiki/images/Neck_slot.png");
}

.equipment-inventory__slot#ammo {
  background-image: url("https://oldschool.runescape.wiki/images/Ammo_slot.png");
}

.equipment-inventory__slot#weapon {
  background-image: url("https://oldschool.runescape.wiki/images/Weapon_slot.png");
}

.equipment-inventory__slot#body {
  background-image: url("https://oldschool.runescape.wiki/images/Body_slot.png");
}

.equipment-inventory__slot#shield {
  background-image: url("https://oldschool.runescape.wiki/images/Shield_slot.png");
}

.equipment-inventory__slot#legs {
  background-image: url("https://oldschool.runescape.wiki/images/Legs_slot.png");
}

.equipment-inventory__slot#hands {
  background-image: url("https://oldschool.runescape.wiki/images/Hands_slot.png");
}

.equipment-inventory__slot#feet {
  background-image: url("https://oldschool.runescape.wiki/images/Feet_slot.png");
}

.equipment-inventory__slot#ring {
  background-image: url("https://oldschool.runescape.wiki/images/Ring_slot.png");
} */
