[data-theme="dark"],
[data-theme="dark"] * {
  --color-white: #ffffff;
  --color-silver: #cccccc;
  --color-gray: #777777;
  --color-portage: #b79d7e;
  --color-waikawa-grey: #736559;
  --color-pickled-bluewood: #3e362f;
  --color-cloud-burst: #312a25;
  --color-big-stone: #28221d;
  --color-dark-body: #1b1612;
  --color-primary: #20c2fe;
  --color-secondary: #c2410c;

  --color-foreground: var(--color-white);
  --color-background: var(--color-dark-body);
  --color-border: var(--color-waikawa-grey);
  --color-surface-1: var(--color-big-stone);
  --color-surface-2: var(--color-cloud-burst);
  --color-surface-3: var(--color-pickled-bluewood);
  --color-surface-4: var(--color-waikawa-grey);
  --color-surface-5: var(--color-portage);

  --rgb-primary: 194 65 12;
  --rgb-secondary: 32 194 254;
}

@font-face {
  font-family: "RuneScape";
  src: url("../fonts/runescape.ttf");
}

.font-runescape {
  font-family: "RuneScape", sans-serif;
  text-shadow: 1px 1px var(--color-shadow);
}

:root {
  --header-height: 72px;
  --footer-height: 48px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
}

.app {
  position: relative;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--color-background);
}

.app > main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app > main#region-analyzer {
  flex-direction: row;
  justify-content: flex-end;
}

.app-header {
  flex: var(--header-height) 0 0;
  background-color: var(--color-surface-1);
  border-bottom-width: 4px;
  z-index: 1;
}

.app-header .icon-toggle:not(.active) {
  background-color: var(--color-surface-1);
}

.app-header .icon-toggle:hover:not(.active) {
  background-color: var(--color-surface-3);
}

.app-footer {
  flex: var(--footer-height) 0 0;
  background-color: var(--color-surface-2);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display,
.title,
.title-lg,
.title-md,
.title-sm,
.subtitle,
.eyebrow {
  font-family: "PT Serif", serif;
}

a.link, a.link:hover, a.link:visited {
  font-weight: 400;
}

.btn--default.btn--solid {
  --btn-color-primary: var(--color-surface-4);
  --btn-color-secondary: rgb(from var(--color-foreground) r g b / var(--opacity-subtle));
  background-color: var(--color-surface-3);
  color: var(--btn-color-secondary);
  font-weight: 400;
}

.btn--default.btn--outline {
  --btn-color-primary: var(--color-surface-3);
  --btn-color-secondary: rgb(from var(--color-foreground) r g b / var(--opacity-subtle));
  border-color: var(--color-surface-4);
  color: var(--btn-color-secondary);
  font-weight: 400;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: rgb(from var(--color-foreground) r g b / var(--opacity-disabled));
}

.toggle > input:checked + .toggle__slider {
  background-color: var(--color-secondary);
}

.tooltip[data-theme="high-contrast"] {
  --color-background: black;
}

.modal__header {
  background-color: var(--color-surface-2);
}

.modal__content {
  background-color: var(--color-surface-3);
}

.modal__body > h1,
.modal__body > h2 {
  margin-bottom: var(--spacing-sm);
}

.modal#privacy-policy .modal__content,
.modal#terms-and-conditions .modal__content {
  background-color: var(--color-surface-2);
}

.modal#privacy-policy .modal__title,
.modal#terms-and-conditions .modal__title {
  font-size: var(--text-title-md);
}

@media (hover: hover) {
  .btn--default.btn--text:not(:disabled):hover,
  .btn--default.btn--text:not(:disabled):active,
  .btn--default.btn--text:not(:disabled).active {
    background-color: var(--color-surface-3);
  }
}

@media (max-width: 816px) {
  .app-footer__right > .caption:first-child {
    display: none;
  }
}

@media (max-width: 667px) {
  .app-footer__right {
    display: none;
  }

  .app-footer__left {
    justify-content: center;
  }
}

@media (max-width: 498px) {
  .app-header__right {
    display: none;
  }
}
