.grid-master {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 100% 1 1;
}

.grid-master__board {
  display: grid;
  grid-template-columns: calc(var(--spacing-2xl) + var(--spacing-xxs)) repeat(7, var(--spacing-2xl));
  grid-template-rows: repeat(6, var(--spacing-2xl)) calc(var(--spacing-2xl) + var(--spacing-xxs));
  gap: var(--spacing-xxs);
}

.grid-master__cell {
  cursor: pointer;
}

.grid-master__cell--task {
  box-shadow:
    inset 0 0 0 0px var(--color-surface-1),
    inset 0 0 0 1px rgb(from #40ff19 r g b / var(--opacity-disabled));
}

.grid-master__cell--task:hover {
  background-image: linear-gradient(to bottom, rgb(from #40ff19 r g b / 0), rgb(from #40ff19 r g b / 0.25));
}

.grid-master__cell--reward {
  background-color : black;
  box-shadow:
    inset 0 0 0 0px var(--color-surface-1),
    inset 0 0 0 1px rgb(from #19b2ff r g b / var(--opacity-disabled));
}

.grid-master__cell--reward:hover {
  background-color: black;
  background-image: linear-gradient(to bottom, rgb(from #19b2ff r g b / 0), rgb(from #19b2ff r g b / 0.25));
}

.modal#grid-master .modal__content {
  overflow: visible;
}

.modal#grid-master .modal__header {
  padding: var(--spacing-md) var(--spacing-lg);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}

.modal#grid-master .modal__body {
  padding: var(--spacing-xl) var(--spacing-lg);
}

.modal#grid-master .modal__header .btn--icon-only {
  color: rgb(from var(--color-foreground) r g b / var(--opacity-muted));
  margin-top: -1em;
  margin-bottom: -1em;
}
