.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: calc(var(--header-height, 72px) + 2px);
  padding: var(--spacing-md) var(--spacing-xl);
  background-color: var(--color-surface-2);
  border-bottom: 4px solid var(--color-border);
  transform: translateY(-2px);
  z-index: 1;
}

.header-bar__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 568px) {
  .header-bar__buttons {
    display: none;
  }
}

@media (max-width: 820px) {
  .header-bar__instructions {
    display: none;
  }
}
