.page-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  z-index: var(--z-index-max);
  pointer-events: none;
  box-shadow:
    inset 0 0 0 6px var(--color-surface-4),
    inset 0 0 0 12px var(--color-surface-2),
    inset 0 0 0 18px var(--color-background);
}

.page-frame__corner {
  position: absolute;
  pointer-events: none;
}

.page-frame__corner.tl {
  top: 0;
  left: 0;
  transform: rotate(0);
}

.page-frame__corner.tr {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.page-frame__corner.br {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.page-frame__corner.bl {
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}
