ul.skills-grid {
  display: grid;
  gap: var(--spacing-xs);
  flex-shrink: 0;
}

ul.skills-grid > li {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--spacing-xxl);
  padding: var(--spacing-sm);
  background-color: var(--color-surface-2);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

ul.skills-grid > li.changed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--color-secondary);
  pointer-events: none;
}
