.skill-filters {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: var(--spacing-sm);
}

.skill-filters > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--color-surface-3);
  border-radius: var(--radius-sm);
}

.skill-filters > button:disabled {
  background-color: var(--color-surface-2);
}

.skill-filters > button.selected {
  background-color: var(--color-surface-4);
  opacity: 1;
}

.skill-filters > button > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  user-select: none;
}
