.custom-tooltip {
  position: absolute;
  transform: translate(-50%, calc(-100% - var(--spacing-xxs)));
  background-color: black;
  border-radius: var(--radius-sm);
  padding: var(--spacing-xxs) var(--spacing-sm) calc(var(--spacing-xxs) + 1px);
  line-height: 1.25;
  text-align: center;
  z-index: var(--z-index-tooltip);
  pointer-events: none;
  animation: fadeIn 100ms ease-in-out;
}

.custom-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: black;
  transform: translate(-50%, -1px);
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media (hover: none) {
  .custom-tooltip {
    display: none;
  }
}
